body {
	background: url("../images/DallasCowboys.jpg");

}
.container{
	color: #0d254c;

}

.jumbotron {
	font-family: 'Alfa Slab One', cursive;
  font-size: 10px;
	text-align: center;
	background-color: #aaa;
  background: url();
  max-width: 100%;

}

span.glyphicon-star {
	font-size: 25px;
}

#answerDisplay{
  
  font-family: 'Alfa Slab One', cursive;
  font-size: 50px;
  text-align: center;
  background-color: #aaa;
  background: url();
  max-width: 100%;
}

p {
	text-align: center;
}

#wordFont {
	color: #0d254c;	
}


.panel-title{
	font-family: 'Alfa Slab One', cursive;
	text-align: center;
	font-weight: 700;
	color: #0d254c;
	

}

.panel-body{
	font-family: 'Alfa Slab One', cursive;
	text-align: center;
	font-weight: 700;
	color: #0d254c;
}